:root {
    --white: #fffbfb;
    --grey: #f0eef1;
    --font-grey: #555;
    --red: #ff0000;
    --green: #00cc00;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100svh;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 100px 1fr 70px;
    font-family: 'Raleway', sans-serif;
    font-size: 1.25rem;
    background-color: var(--grey);
}


header {
    display: flex;
    align-items: center;
    padding-left: 2rem;
    font-weight: 700;
    background-color: var(--white);
    box-shadow: 0px 5px 12px -4px rgba(0, 0, 0, 0.067);
}




main {
    padding: 2rem 2rem;
}


.book-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    padding-top: 3rem;
}

.read {
    border-left: 8px solid var(--green); 
}
.unread {
    border-left: 8px solid var(--red);
}

.book-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 6px;
    padding: 1rem .5rem;
    border-radius: 8px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.067) 0px 3px 3px 0px;
    background-color: var(--white);
}
.book-card .remove-btn {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 10px;
    opacity: 15%;
    font-size: 1.5rem;
}
.book-card .remove-btn:hover {
    cursor: pointer;
    color: var(--red);
    font-weight: bold;
    opacity: 60%;
}
.book-card p:first-of-type {
    font-weight: 600;
}
.book-card p:nth-of-type(2) {
    font-style: italic;
}
.book-card p:nth-of-type(3) {
    margin-bottom: 3.5rem;
}
.book-card .read-status-btn {
    position: absolute;
    bottom: 10px;
}




footer {
    grid-row: 3 / 4;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 20%;
}



.modal {
    position: absolute;
    z-index: 1;
    left: 25%;
    top: 20%;
    width: 50%;
    height: 55%;
    max-width: 450px;
    padding: 2rem 1rem;
    border: 5px solid var(--font-grey);
    border-radius: 15px;
    box-shadow: 0px 1px 5px 0px rgba(128, 76, 177, 0.172);
    background-color: var(--grey);
}

.modal p {
    padding-bottom: 1.5rem;
}

.book-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.book-form input:nth-of-type(3) {
    margin-bottom: 1rem;
}
.book-form input {
    border: none;
    border-bottom: 1px dashed #83A4C5;
    background-color: transparent;
    font-size: 1.25rem;
}
.book-form input:focus {
    outline: none;
}





.toggle {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.toggle-switch {
    display: inline-block;
    background: #ccc;
    border-radius: 16px;
    width: 54px;
    height: 28px;
    position: relative;
    vertical-align: middle;
    transition: background 0.25s;
}

.toggle-switch:before,
.toggle-switch:after {
    content: "";
}

.toggle-switch:before {
    display: block;
    background: linear-gradient(to bottom, #fff 0%, #eee 100%);
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
    width: 20px;
    height: 20px;
    position: absolute;
    top: 4px;
    left: 4px;
    transition: left 0.25s;
}

.toggle:hover .toggle-switch:before {
    background: linear-gradient(to bottom, #fff 0%, #fff 100%);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}
.toggle-checkbox:checked+.toggle-switch {
    background: #56c080;
}
.toggle-checkbox:checked+.toggle-switch:before {
    left: 30px;
}
.toggle-checkbox {
    position: absolute;
    visibility: hidden;
}





button {
    height: 38px;
    padding: 0 2rem;
    text-align: center;
    font-weight: 600;
    color: var(--font-grey);
}

button:hover {
    cursor: pointer;
}